# GitHub / Git 連携
GITHUB_REPOSITORY=https://github.com/T-Kawaguchi-lab/matching-teachers-with-students.git
GITHUB_DEFAULT_BRANCH=main

# Streamlit Community Cloud 用
STREAMLIT_MAIN_FILE=streamlit_app.py
STREAMLIT_APP_URL=！！！！！！！！！！
ここに入れる
！！！！！！！！！！

# 後で別環境へ移す場合のみ
APP_BASE_URL=！！！！！！！！！！
ここに入れる
！！！！！！！！！！
